/*
 * @author: Muhammad R Ridho
 */
.page {
	// @include transition(all .15s ease-in-out);
	position: relative;
	z-index: 100;
	visibility: visible;
	min-height: 100vh;
	background: #fff;
	line-height: 2em;
	opacity: 1;

	&__item {
		@include transition(all .4s ease);

		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		overflow: auto;
		margin-top: 50px;
		background: #eaeaea;

		&--fluid {
			padding: 0;
		}
		&--hidden {
			visibility: hidden;
			opacity: 0;
		}
		
	}
	&__header {
		margin-top: -50px;
	}
	&__content {

	}

}