/*
 * @author: Muhammad R Ridho
 */
.page {
	@include transition(all .25s ease);

	position: relative;
	z-index: 100;
	visibility: visible;
	min-height: 100vh;
	background: #F5F6F7;
	line-height: 2em;
	opacity: 1;

	&__item {
		@include transition(all .15s ease);

		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		overflow: auto;
		padding-top: 50px;

		&--fluid {
			padding: 0;
		}
		&--default {
			// @include transform(scale(1) !important);
			margin-top: 0 !important;
		}
		&--hidden {
			visibility: hidden;
			// @include transform(scale(0));
			margin-top: 100vh;
			opacity: 0;
		}
		
	}
	&__header {
		margin-top: -50px;
	}
	&__content {

	}
	&--sidebar-open {
		@include translateX(70vw);

		overflow-x: hidden;
	}

}