/*
 * @author: Muhammad R Ridho
 */
.page {
	// position: relative;
	// overflow: hidden;
	min-height: 100vh;
	background: #fff;
	z-index: 100;
	@include transition(all .15s ease-in-out);

	line-height: 2em;

	&__item {
		position: absolute;
		top: 0; right: 0; left: 0;
		bottom: 0;
		padding: 10px;
		background: #fff;
		overflow: auto;

		&--fluid {
			padding: 0;
		}

		
	}

}