@import "../../../libs/nouislider/nouislider";
.filter {
	&__section {
        @extend %clearfix;
        @include transition(all .25s ease);

        padding: 20px 20px 0 20px;
        background: #fff;

        h3 {
            margin-bottom: 15px;
            color: #282828;
            font-weight: normal;
            font-size: 1.5rem;
        }
        &--star {
            color: #ffd600;
        }
    }
    &__group  {
        margin-bottom: 12px;

        &--is-hideable {
            display: none;
        }
        &--is-show {
            display: block;
        }
        &__dash {
            display: inline-table;
            margin: 0 -4px;
            width: 9px;
            width: 10%;
            height: 6px;

            &:before {
				display: block;
				margin: auto;
				margin-top: -5px;
				width: 50%;
				height: 1px;
				background: #ccc;
            	content: "";
            }
        }
    }
	&__check {
		@extend %form__checkbox;

		& + label {
			display: block;
			padding: 5px 0 5px 35px;
			line-height: 1;
			-webkit-tap-highlight-color: rgba(0,0,0,0);
		}
	}
	&__price {
        @include border-radius(50px);

        padding: 5px;
        width: 45%;
        outline: none;
        border: 1px solid #ddd;
        color: #666;
        text-align: center;
    }
    &__more-btn {
        display: block;
        margin: 20px -20px;
        padding: 5px;
        background: #f7f7f7;
        color: $blue;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
    }
    &__price-slider {
        margin: 30px 0px 30px 20px;

        .noUi-origin { right: auto; width: 0; }
        .connect { position: absolute; top: 0; bottom: 0; background: #0095DA; }
        .noUi-state-tap .connect { -webkit-transition: left 300ms, right 300ms; transition: left 300ms, right 300ms; }
        .noUi-handle {
        	top: -8px;
        	width: 20px;
        	height: 20px;
        }
    }
}
.disc-ribbon {
    color: #fff;

    .rectangle { text-align: center; }
    span:first-child { font-size: 12px;}
}