.panel {
	@include transition(all .15s ease-in-out);

	position: fixed; top: 0; bottom: 0; left: 0px;
	left: -80vw;
	z-index: 900;
	overflow: hidden;
	width: 80vw;
	height: 100vh;

	&--notransitions {
		@include transition(none !important);
	}
	&--show {
		left: 0;

	}
	&__content {
		position: absolute;
		top: 0; ; bottom: 0; left: 0;
		z-index: 1;
		overflow: auto;		
		background: $blue;
		color: #fff;
		padding: 20px;
	}
	&__handler {
		position: absolute;
		top: 0; bottom: 0; left: 0;
		width: 10px;
		content: "";
		background: red;
	}
	&__overlay {
		@include transition(all .15s linear);

		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0, 0, 0, .2);

		&--is-active {
			opacity: 1;
		}
	}
}