.panel {
	position: fixed; top: 0; bottom: 0; left: 0px;
	z-index: 900;
	overflow: auto;
	width: 100%;
	height: 100vh;
	left: -100vw;
	// @include transition(all .15s ease-in-out);

	&--show {
		left: 0;

	}

	&__content {
		background: $blue;
		position: absolute;
		top: 0; ; bottom: 0; left: 0;
		width: 80%;
		z-index: 1;
	}


	&__handler {
		position: absolute;
		top: 0; bottom: 0; left: 0;
		width: 10px;
		content: "";
	}
	&__overlay {
		@include transition(all .15s linear);

		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0, 0, 0, .2);

		&--is-active {
			opacity: 1;
		}
	}
}