body {
	@include backface-visibility(hidden);

	position: relative;
	overflow-x: hidden;
	width: 100vw;
}
.app {
	&__overlay {
		@include transition(all .15s linear);

		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		z-index: 800;
		visibility: hidden;
		background: rgba(0, 0, 0, .2);
		opacity: 0;

		&--show {
			visibility: visible;
			opacity: 1;
		}
		&--sidebar-open {
			@include translateX(70vw);
			@include transition(all .25s ease);

			overflow-x: hidden;
		}
	}
	&__container {
		position: relative;
		overflow-x: hidden;
	}
}