body {
	position: relative;
	width: 100vw;
	overflow-x: hidden;
}
.app {
	&__overlay {
		@include transition(all .15s linear);

		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background: rgba(0, 0, 0, .2);
		opacity: 0;
		visibility: hidden;
		z-index: 800;

		&--show {
			opacity: 1;
			visibility: visible;
		}
		&--sidebar-open {
			@include translateX(70vw);
			overflow-x: hidden;
		}
	}
}