// For ul li without any bullet
%reset-list {
	margin: 0;
	padding: 0;
	list-style: none;
}


%block {
	@include border-radius(4px);

	display: block;
	margin-bottom: 10px;
	padding: 10px 0;
	background: #FFF;
	color: $black;
}

%group {
	@include clearfix();

	padding: 10px 0;
}